body {
  font-family: "Open Sans", sans-serif;
  color: rgb(25, 25, 25);
}

.container {
  margin: 120px auto 50px auto;
  max-width: 650px;
  min-height: fit-content;
}

h1,
h2 {
  font-weight: 400;
  margin: 0;
  font-family: "Zeyada", cursive;
}

h1 {
  text-align: center;
  font-size: 64px;
}

h2 {
  font-size: 44px;
}

h3,
h4 {
  margin: 5px;
}

.form-wrapper {
  background-color: rgb(25, 25, 25);
  margin-bottom: 5px;
  border-radius: 60px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 20px 25px 5px 25px;
}

form {
  display: flex;
}

.hint {
  color: white;
  margin-top: 5px;
  font-size: 10px;
  margin-left: 40px;
  opacity: 0.8;
}

.prompt {
  padding: 16px;
  background-color: white;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
  width: 80%;
  font-size: 16px;
  line-height: 2;
  color: rgb(44, 33, 88);
}

.submit-button {
  margin-left: 15px;
  background-color: rgba(219, 98, 17);
  color: white;
  border: none;
  width: 150px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
}

.recipe {
  font-size: 16px;
  padding: 20px;
  line-height: 1.5;
  border-radius: 10px;
  border-left: 3px solid rgb(219, 98, 17);
  margin: 20px auto;
  box-shadow: 0px 4px 30px 0 rgba(39, 33, 66, 0.03);
}

.recipe strong {
  color: rgb(219, 98, 17);
}

.recipe div {
  margin-top: 20px;
}

.hidden {
  display: none;
}

footer {
  margin-bottom: 30px;
  text-align: center;
}

footer p {
  font-size: 12px;
}

footer a {
  color: rgb(219, 98, 17);
  font-weight: 700;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
